* {
	margin: 0;
	padding: 0;
}

article {
	width: 640px;
	margin: 0 auto;
	padding: 24px 0;
}

h2, h4 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	font-size: 24px;
	color: #2157df;
	font-weight: normal;
}

h2 {
	margin: 0 0 8px 0;
	text-transform: uppercase;
}

h4 {
	margin: 0 0 18px 0;
	font-size: 18px;
	text-transform: none;
}

p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0 0 24px 0;
}