* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #3f3f3f;
	font-size: 0;
}

.wrapper {
	width: 1180px;
	background-color: #fff;
	margin: 0 auto;
	padding: 40px;
}

.task {	margin: 0 0 30px 0; }

.style-1 li {
	display: block;
	list-style: none;
	width: 150px;
	margin: 3px 0;
}

.style-1 a {
	display: block;
	padding: 0 15px;
	height: 100%;
	font: normal 13px Arial, sans-serif;
	line-height: 30px;
	color: #2e3192;
	text-decoration: none;
	border: 1px solid #2e3192;
}

.style-1 a:hover {
	font-weight: bold;
}



.style-2 li {
	display: block;
	list-style: none;
	width: 150px;
	margin: 3px 0;
	line-height: 30px;
}

.style-2 a {
	display: block;
	padding: 0 15px;
	height: 100%;
	font: bold 13px Arial, sans-serif;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #000;
	background-color: #484848;
}

.style-2 a:hover {
    background-color: #fff;
    color: #000;
}



.style-3 {
    width: 100%;
    background-color: #fc9e00;
    height: 40px;
}

.style-3 li {
    display: inline-block;
    list-style: none;
    line-height: 40px;
}

.style-3 a {
    display: block;
    padding: 0 20px;
    height: 100%;
    font: normal 13px Arial, sans-serif;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.style-3 a:hover { background-color: #ec3200; }