body {
    width: 480px;
}

h1 {
    font-family: Courier New, monospace;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-family: Calibri, Arial, sans-serif;
    font-size: 11px; 
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.font-size-18 {
    font-size: 14px;
}

