.main {
	width: 640px;
	height: 640px;
	background-color: blue;
	padding: 20px 0 0 20px;
	font-size: 0;
}

.box1, .box2 {
	display: block;
	width: 100px;
	height: 100px;
	background-color: yellow;
	margin: 0 auto;
}

.box2 {
	height: 50px;
	vertical-align: bottom;
}