* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/main-bg.jpg") no-repeat center #9bb8db;
    background-size: cover;
    counter-reset: my-awesome-counter;
}

.wrapper {
    width: 1024px;
    background-color: #fff;
    padding: 140px 60px 100px 60px;
    margin: 230px auto;
}

h2 {
    font: normal 32px/1.6 Pathway Gothic One, Arial, sans-serif;
    text-transform: uppercase;
    color: #263555;
    padding: 0 0 49px 0;
}

p,
li,
h3 {
    font: normal 13px Arial, sans-serif;
    color: #4e5050;
    padding: 0 0 12px 0;
    line-height: 21px;
}

.top-section article > img {
    float: left;
    padding: 0 26px 26px 0;
}

.top-section article,
.bottom-section div:first-child {
    width: 692px;
    float: left;
    padding: 0 49px 0 0;
}

.top-section:after,
.bottom-section:after {
    content: ' ';
    display: block;
    clear: both;
}

.top-section {
    border-bottom: 1px solid #dedbdb;
    padding: 0 0 20px 0;
    margin: 0 0 45px 0;
}

.top-section p {
    position: relative;
    top: -5px;
}

.wrapper p:last-child {
    padding: 0 0 50px 0;
}

.emphasis,
li,
h3 {
    font-size: 15px;
    font-weight: 600;
    color: #263555;
}

ul {
    column-count: 2;
    column-gap: 50px;
    padding: 15px 0 0 0;
}

li {
    list-style-type: none;
    background: url(../img/arrow.png) no-repeat;
    background-position: left 8px;
    background-size: 10px 7px;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
}

.aside {
    display: inline-block;
    width: 209px;
}

.aside h3 {
    margin: 0 0 -10px 0;
}

.list-item {
    position: relative;
    margin: 0 0 -20px 0;
    padding: 0 0 0 37px;
}

.list-item {
    counter-increment: my-awesome-counter;
    position: relative;
    top: -6px;
}

.list-item:before {
    content: counter(my-awesome-counter);
    font: normal 13px Arial, sans-serif;
    color: #fff;
    text-align: center;
    line-height: 28px;
    position: absolute;
    top: -3px;
    left: 0;
    width: 26px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid #5297b6;
    background-color: #38afe5;
}

.bubble {
    position: relative;
    top: -40px;
    display: inline-block;
    border: 1px solid #dfdcdc;
    background-color: #fcfafa;
    padding: 40px 20px 20px 20px;
    border-radius: 2px;
}

.bubble:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -18px;
    left: 87px;
    transform: rotate(45deg);
    width: 34px;
    height: 34px;
    background-color: #fcfafa;
    border-bottom: 1px solid #dfdcdc;
    border-right: 1px solid #dfdcdc;
}

.bubble + h3, .bubble + h3 + p {
    text-align: center;
}