* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../img/pattern.png") rgb(52,62,71);
    font: normal 0 Arial, sans-serif;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

h1,
h2,
h3 {
    color: #fff;
    margin: 0 0 15px 0;
}

h1 { font: bold 18px Arial, sans-serif; }
h2 { font: bold 16px Arial, sans-serif; }
h3 { font: bold 14px Arial, sans-serif; }

.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    border-radius: 3px;
    background-image: linear-gradient( 90deg, rgb(228,228,228) 0%, rgb(242,242,242) 100%);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
    height: 45px;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.logo,
.menu,
.menu li {
    display: inline-block;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}

.menu a {
    font: bold 14px Arial, sans-serif;
    color: rgb(20,53,103);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    padding: 0 30px;
    height: 100%;
    display: block;
    line-height: 45px;
}

.content {
    border-style: 1px solid rgb(103, 112, 125);
    border-radius: 3px;
    background-color: rgba(87, 103, 127, 0.5);
    width: 971px;
    padding: 20px 15px 36px 12px;
}

.content a { color: #ff8de3; }

.left-column,
.right-column {
    display: inline-block;
    vertical-align: top;
}

.left-column {
    width: 218px;
    margin: 0 20px 0 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.right-column { width: 729px; }

.block-bg {
    border-radius: 3px;
    background-color: rgb(55, 62, 71);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3),inset 0 2px 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0 0 20px 0;
}

.sub-menu li {
    line-height: 33px;
    border-bottom: 1px solid #4c545e;
    background: url(../img/arrow.png) no-repeat 14px 12px;
    list-style: none;
    margin: 0;
}

.sub-menu a {
    display: block;
    font-size: 13px;
    text-decoration: none;
    padding: 0 0 0 30px;
    color: #e4e4e4;
}

.info {
    padding: 15px 12px;
    font-size: 13px;
}

.info a {
    display: block;
    text-align: right;
}

.info p {
    line-height: 20px;
    font-style: italic;
    margin: 0 0 30px 0;
    color: #e4e4e4;
}

.title { margin: 0 0 20px 0; }

.title p {
    font-size: 13px;
    line-height: 18px;
}

.gallery div {
    border: 10px solid #697689;
    width: 200px;
    height: 163px;
    display: inline-block;
    margin: 0 18px 24px 0;
}

.lists div {
    display: inline-block;
    width: 220px;
    font-size: 13px;
    margin: 0 18px 0 0;
    vertical-align: top;
}

.lists ul,
.lists ol {
    margin: 0 0 0 20px;
    line-height: 18px;
}

.lists p { line-height: 18px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }