* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #3f3f3f;
	font-size: 0;
}

:root {
	--color-1: #FE8888;
	--color-2: #7F89E9;
	--color-3: #49ED9A;
    --color-4: #fff;

	--width-main: 100px;
	--height-main: 100px;

    --width-big: 400px;
    --height-big: 400px;

    --radius-main: 50px;
}

.wrapper {
	width: 1180px;
	background-color: #fff;
	margin: 0 auto;
	padding: 70px 40px;
}

h2 {
	font: bold 20px Arial, sans-serif;
	color: #3f3f3f;
	margin: 0 0 15px 0;
}

.wrapper > p:nth-child(1),
.wrapper > p:nth-child(2) {
    width: 100%;
    z-index: 25;
    font: normal 13px Arial, sans-serif;
    line-height: 60px;
    color: var(--color-4);
    text-align: center;
}

.wrapper > p:nth-child(1) {
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    left: 0;
}

.wrapper > p:nth-child(2) {
    background-color: var(--color-3);
    position: fixed;
    bottom: 0;
    left: 0;
}

.task {
    position: relative;
    padding: 40px 0;
	border-bottom: 1px solid #999;
}

.task:last-child {
	border-bottom: none;
}

.task-1 div:nth-child(2),
.task-2 div:nth-child(2),
.task-3 div:nth-child(2),
.task-4 div:nth-child(2) {
    position: relative;
	background-color: var(--color-1);
	width: var(--width-main);
	height: var(--height-main);
}

.task-1 div:nth-child(3),
.task-2 div:nth-child(3),
.task-3 div:nth-child(3),
.task-4 div:nth-child(3) {
    position: relative;
    background-color: var(--color-2);
    width: var(--width-main);
    height: var(--height-main);
}

.task-1 div:nth-child(4),
.task-2 div:nth-child(4),
.task-3 div:nth-child(4),
.task-4 div:nth-child(4) {
    position: relative;
    background-color: var(--color-3);
    width: var(--width-main);
    height: var(--height-main);
}

.task-1 div:nth-child(3),
.task-2 div:nth-child(3),
.task-3 div:nth-child(3),
.task-4 div:nth-child(3) {
    top: -40px;
    left: 60px;
}

.task-1 div:nth-child(4),
.task-2 div:nth-child(4),
.task-3 div:nth-child(4),
.task-4 div:nth-child(4) {
    top: -80px;
    left: 120px;
}

.task-2 div:nth-child(3) {
    z-index: 5;
}

.task-3 div:nth-child(2),
.task-3 div:nth-child(4) {
    z-index: 10;
}

.task-4 div:nth-child(2) { z-index: 15; }
.task-4 div:nth-child(3) { z-index: 10; }
.task-4 div:nth-child(4) { z-index: 5; }


.task-5 div:nth-child(2),
.task-7 > div {
    background-color: var(--color-3);
    width: var( --width-big);
    height: var( --height-big);
 }

.task-5 div:nth-child(3),
.task-5 div:nth-child(4) {
    background-color: var(--color-4);
    width: var(--width-main);
    height: var(--height-main);
}

.task-5 div:nth-child(3) {
    position: relative;
    top: -360px;
    left: 40px;
}

.task-5 div:nth-child(4) {
    position: relative;
    top: -240px;
    left: 260px;
}

.task-6 > div {
    display: inline-block;
    padding: 40px;
    border: 1px solid #000;
}

.task-6 div > div:nth-child(1),
.task-6 div > div:nth-child(2),
.task-6 div > div:nth-child(3) {
    border: 1px solid #000;
    border-radius: var(--radius-main);
    margin: 0 0 10px 0;
    width: var(--width-main);
    height: var(--height-main);
}

.task-6 div > div:nth-child(1) { background-color: var(--color-1); }
.task-6 div > div:nth-child(2) { background-color: var(--color-2); }
.task-6 div > div:nth-child(3) { background-color: var(--color-3); }


.task-7 > div {
    position: relative;
    border-radius: 200px;
}

.task-7 div > div:nth-child(1),
.task-7 div > div:nth-child(2) {
    border-radius: var(--radius-main);
    width: var(--width-main);
    height: var(--height-main);
    background-color: var(--color-4);
}

.task-7 div > div:nth-child(1) {
    position: absolute;
    top: 75px;
    left: 75px;
}

.task-7 div > div:nth-child(2) {
    position: absolute;
    top: 75px;
    right: 75px;
}

.task-7 div > div:nth-child(3) {
    width: 75px;
    height: 75px;
    background-color: var(--color-4);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -30%);
}

.task-7 div > div:nth-child(4) {
    width: 150px;
    height: 30px;
    background-color: var(--color-4);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, 330%);
}


.task-8 div {
    border-radius: var(--radius-main);
    border: 1px solid #000;
    padding: 50px;
}

.task-8 h2 { color: #88292F }

.task-8 p {
    font: normal 13px Arial, sans-serif;
    color: #333;
    padding: 10px 0;
}